{% extends 'base.html' %}
{% block body %}
    | work_calender_navigate
{% endblock body %}
{% block body %}
<section class="section">
    <div class="row" id="table-borderless">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <h3>Main Project</h3>
                        <p class="command">Work Calender </p>
                    </h4>
                </div>
                <p class="command">{{ pull }}</p>
                <div class="card-content">
                    <!-- table with no border -->
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th scope='col'>Project ID</th>
                                    <th scope='col'>Project Name</th>
                                    <th scope='col'>Start Date</th>
                                    <th scope='col'>Finish Date</th>
                                    <th scope='col'>Description</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for stock in stocks %}
                                <tr>
                                    <td class="text-bold-500">{{loop.index}}</td>
                                    <td class="text-bold-500">{{stock.date_created}}</td>
                                    <td class="text-bold-500">{{stock.product_size}} inch</td>
                                    <td>{{stock.product_name}}</td>
                                    <td>{{stock.product_quantity}}</td>
                                    <td>{{stock.product_per_price}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}